body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #131529, #1A1C40, #343674);
  animation: gradientShift 15s ease infinite;
  overflow-x: hidden;
}

/* --- ANIMATIONS --- */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} 

@keyframes float {
  0% { transform: translateY(0px) scale(1); }
  50% { transform: translateY(-20px) scale(1.5); }
  100% { transform: translateY(0px) scale(1); }
}

/* --- BLOB STYLING --- */
.blob {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  z-index: 1;
  filter: blur(40px);
  animation: float 10s ease-in-out infinite;
}

.blob1 {
  width: 300px;
  height: 300px;
  background: #3754a1;
  top: 10%;
  left: -10%;
}

.blob2 {
  width: 200px;
  height: 200px;
  background: #10b981;
  bottom: -1%;
  right: -5%;
}

.blob3 {
  width: 300px;
  height: 300px;
  background: #7285bb50;
  bottom: -130%;
  left: 10%;
  z-index: -3;
}

.blob4 {
  width: 300px;
  height: 300px;
  background: #8ec5b730;
  bottom: -220%;
  left: 80%;
  z-index: -2;
}

section {
min-height: auto;
padding: 4rem 2rem;
}

/* --- PROFILE IMAGE --- */
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}


.hero-text {
    max-width: 370px;
   
}

.hero-container {
  min-width: 400px;

  border-radius: 1rem;
  padding: 2rem;

  background:
    radial-gradient(ellipse at top left, #8a8ea180, transparent 100%),
    radial-gradient(circle at bottom right, #2ebd9920, transparent 80%);
  border: 1px solid #FFFFFF10;
  box-shadow: 0 0 20px #ffffff20;
  transition: box-shadow 0.3s ease-in-out;
}

.left-panel {
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 300px;
  align-self: start;
}

.socials-link {
  display: inline-block;
  color: #ffffff90;
  transition: transform 0.3s ease-in;
}

.socials-link:hover {
  transform: scale(1.15);
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  padding-left: 0;
}

.nav-link:hover {
  color: #96D9CC;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .left-panel {
    position: static;
    height: auto;
  }

  .sticky-nav {
    position: static;
    margin-top: 2rem;
  }
}

/* --- projects --- */
.glass-card .project-link {
  color: #fff;
}

.glass-card:hover .project-link {
  color: #5cc2ad;
  transition: 0.3s ease;
}

.project-wrapper:hover .icon {
  transform: translate(4px, -4px) scale(1.1);
  color: #80e4d0;
}

.project-media {
  aspect-ratio: 16 / 9;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.project-video {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  object-fit: cover;
}

.project-wrapper:hover .project-video {
  opacity: 1;
}

.repo-link {
  color: #ffffff;
  transition: 0.3s ease;
}

.repo-link:hover {
  color: #5cc2ad;
  transition: 0.3s ease;
}





/* glass-card.css */

.glass-card {
  background: transparent;
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  border: 1px solid transparent;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.2s ease-in;
}

.glass-card:hover {
  background:
    radial-gradient(ellipse at top left, #8a8ea180, transparent 100%),
    radial-gradient(circle at bottom right, #2ebd9920, transparent 80%);
  border: 1px solid #FFFFFF10;
  box-shadow: 0 0 20px #ffffff20;
  transition: box-shadow 0.3s ease-in-out;
}

.glass-card h5 {
  color: #fff;
}

.glass-card:hover h5 {
  color: #5cc2ad;
  transition: 0.3s ease;
}

.date-range {
  font-size: 0.85rem;
  color: #aaaaaa;
  margin-bottom: 0.5rem;
  display: block;
}

.glass-card:hover .date-range {
  color: #d8d6d6;
}

.description {
  text-align: start;
}

.badge-skill {
  background-color: #5cc2ad20;
  color: #5cc2ad;
  border-radius: 50rem;
  padding: 0.25rem 0.7rem;
  font-size: 0.75rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  display: inline-block;
  border: 1px solid #FFFFFF10;
  transition: 0.3s ease;
}

.glass-card:hover .badge-skill {
  background-color: #b2bebc20;

  border: 1px solid #49998930;
}

/* Chips Go Lighter --
.glass-card:hover .badge-skill {
  background-color: #5cc2ad80;
  color: #ffffff;
  border: 1px solid #5cc2ad50;
}
*/

.badge-skill:hover {
  scale: 1.1;
  margin-right: 0.45rem;
  transition: 0.3s ease;
}


.resume-link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.resume-link:hover {
  color: #5cc2ad;
}

.icon{
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.resume-link-wrapper:hover .icon {
  transform: translate(4px, -4px) scale(1.1);
  color: #80e4d0;
}





